

.base_screen_container {
  @apply base_container;

  .base_content {
    @apply base_container flex-col;

    .base_title {
      @apply rounded-md p-2;
      border: 1px solid red;
    }

    .base_main {
      @apply grid grid-rows-4 grid-cols-3 gap-2;
      width: 300px;
      height: 300px;

      .base_main_item {
        @apply base_container;
        border:2px solid #000;

        &:hover {
          @apply bg-black text-neutral-100;
        }
      }
    }

    .base_check {
      @apply base_container flex-row-reverse;

      .base_check_input {
        opacity: 0;
      }

      .base_check_label {
        border: 1px solid #000;
        height: 20px;
        width: 20px;
      }
    }

    .base_final {
      @apply base_container uppercase w-full;
      border: 2px solid #4E4E4E;
      height: 52px;

      :disabled {
        border: none;
      }
    }

    button[aria-label='стереть'] {
      @apply col-span-2;
    }
  }
}